@import 'ws-mixins';
@import 'ws-common';

.container-balanced {
  @extend %page-center;
}

.banner-container{
    align-items: center;
    background: #eee;
    padding: 16px;
    gap: 2.5rem;
    justify-content: center;
}

.logo-box {
    vertical-align: middle;
    max-width: 250px;
    background: #f5fdf1;
    padding: 8px;
    border: 1px solid rgba(0,0,0,0.5);
}

.title-section {
    position: relative;
    display: flex;
    justify-content: center;
    background-color: #fff;
}

.logo-box-container {
    width: 180px;
}

.logo-box-rounded {
    height: 180px;
    width: 180px;
    background: #fff;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 0px 8px 2px rgba(0, 0, 0, 0.06);
    .logo-img{
        max-width: 122px;
    }
    &.top{
        position: absolute;
        top: -50%;
        transform: translateY(1.25rem);
    }
}



.slider-box {
    max-width: 30%;
}

.stats-container {
    justify-content: space-around;
    display: flex;
    flex-wrap: wrap;
}

.stats-item {
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    // max-width: 250px;
    // min-width: 180px;
    padding: 8px 16px;
    margin-bottom: 16px;
}

.banner-metrics {
    background: linear-gradient(180deg, #F9CB97 -107.59%, #EF951E 110.74%);
}

.infra-background {
    background: #1B4CA1;
}