<div class="privacypolicy-section  ">
  <div class="container-balanced">
    <div class="flex flex-1 custom privacy_main_box">
      <div class="flex-3">
        <div class="flex flex-4 flex-column">
          <div class="flex flex-1 custom">
            <div class="discuss-right-panel flex-3">
              <h3 class="flex flex-middle margin-remove">
                <p class="mat-display-1 main_title_text margin-bottom-xl">
                  {{ 'privacypolicy.privacypolicy' | translate }}
                </p>
              </h3>
              <div class="flex flex-column margin-bottom-xl">
                <div class="privacy-policy-content">
                  <p class="mat-body-2 margin-remove">
                    {{ 'privacypolicy.P1Utilizing' | translate }}
                  </p>
                  <br />
                  <p class="mat-body-2 margin-remove">
                    {{ 'privacypolicy.P2Voluntary' | translate }}
                  </p>
                  <br />
                  <p class="mat-body-2 margin-remove">
                    {{ 'privacypolicy.P3Subject' | translate }}
                  </p>
                </div>
              </div>
              <div
                class="info-section margin-bottom-xl width-1-1 ng-star-inserted"
                id="Introduction"
              >
                <h3 class="flex flex-middle margin-remove">
                  <span class="mat-title">{{
                    'privacypolicy.introduction' | translate
                  }}</span>
                </h3>
                <div class="flex flex-column margin-bottom-xl">
                  <div class="privacy-policy-content">
                    <p class="mat-body-2 margin-remove">
                      {{ 'privacypolicy.p4GovernsTheWay' | translate }}
                    </p>
                  </div>
                </div>
              </div>
              <div
                class="info-section margin-bottom-xl width-1-1 ng-star-inserted"
                id="Data Collection"
              >
                <h3 class="flex flex-middle margin-remove">
                  <span class="mat-title">{{
                    'privacypolicy.datacollection' | translate
                  }}</span>
                </h3>
                <div class="flex flex-column margin-bottom-xl">
                  <div class="privacy-policy-content">
                    <p class="mat-body-2 margin-remove">
                      {{ 'privacypolicy.p5Personal' | translate }}
                    </p>
                  </div>
                </div>
              </div>
              <div
                class="info-section margin-bottom-xl width-1-1 ng-star-inserted"
                id="Data Usage"
              >
                <h3 class="flex flex-middle margin-remove">
                  <span class="mat-title">{{
                    'privacypolicy.datausage' | translate
                  }}</span>
                </h3>
                <div class="flex flex-column margin-bottom-xl">
                  <div class="privacy-policy-content">
                    <p class="mat-body-2 margin-remove">
                      {{ 'privacypolicy.p6Collect' | translate }}
                    </p>
                    <ul>
                      <li>
                        {{ 'privacypolicy.P7Userexperience' | translate }}
                      </li>
                      <li>{{ 'privacypolicy.P8ImproveourApp' | translate }}</li>
                      <li>
                        {{ 'privacypolicy.p9PeriodicEmails' | translate }}
                      </li>
                      <li>{{ 'privacypolicy.p10PhoneNumbers' | translate }}</li>
                    </ul>
                  </div>
                </div>
              </div>
              <div
                class="info-section margin-bottom-xl width-1-1 ng-star-inserted"
                id="Data Protection"
              >
                <h3 class="flex flex-middle margin-remove">
                  <span class="mat-title">{{
                    'privacypolicy.dataprotection' | translate
                  }}</span>
                </h3>
                <div class="flex flex-column margin-bottom-xl">
                  <div class="privacy-policy-content">
                    <p class="mat-body-2 margin-remove"></p>
                    <ul>
                      <li>{{ 'privacypolicy.p11Adopt' | translate }}</li>
                      <li>{{ 'privacypolicy.p12Information' | translate }}</li>
                      <li>{{ 'privacypolicy.p13System' | translate }}</li>
                    </ul>
                  </div>
                </div>
              </div>
              <div
                class="info-section margin-bottom-xl width-1-1 ng-star-inserted"
                id="Data Retention"
              >
                <h3 class="flex flex-middle margin-remove">
                  <span class="mat-title">{{
                    'privacypolicy.dataretention' | translate
                  }}</span>
                </h3>
                <div class="flex flex-column margin-bottom-xl">
                  <div class="privacy-policy-content">
                    <p class="mat-body-2 margin-remove"></p>
                    <ul>
                      <li>{{ 'privacypolicy.p14PersonalData' | translate }}</li>
                      <li>
                        {{ 'privacypolicy.p15Notwithstanding' | translate }}
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
              <div
                class="info-section margin-bottom-xl width-1-1 ng-star-inserted"
                id="Third-Party Services"
              >
                <h3 class="flex flex-middle margin-remove">
                  <span class="mat-title">{{
                    'privacypolicy.thirdpartyservices' | translate
                  }}</span>
                </h3>
                <div class="flex flex-column margin-bottom-xl">
                  <div class="privacy-policy-content">
                    <p class="mat-body-2 margin-remove">
                      {{ 'privacypolicy.p16thirdparty' | translate }}
                    </p>
                  </div>
                </div>
              </div>
              <div
                class="info-section margin-bottom-xl width-1-1 ng-star-inserted"
                id="Changes to This Privacy Policy"
              >
                <h3 class="flex flex-middle margin-remove">
                  <span class="mat-title">{{
                    'privacypolicy.changestothisprivacypolicy' | translate
                  }}</span>
                </h3>
                <div class="flex flex-column margin-bottom-xl">
                  <div class="privacy-policy-content">
                    <p class="mat-body-2 margin-remove">
                      {{ 'privacypolicy.p17Karmayogi' | translate }}
                    </p>
                  </div>
                </div>
              </div>
              <div
                class="info-section margin-bottom-xl width-1-1 ng-star-inserted"
                id="Your Acceptance of These Terms"
              >
                <h3 class="flex flex-middle margin-remove">
                  <span class="mat-title">{{
                    'privacypolicy.youracceptanceoftheseterms' | translate
                  }}</span>
                </h3>
                <div class="flex flex-column margin-bottom-xl">
                  <div class="privacy-policy-content">
                    <p class="mat-body-2 margin-remove">
                      {{ 'privacypolicy.P18Byusingthisapp' | translate }}
                    </p>
                  </div>
                </div>
              </div>
              <div
                class="info-section margin-bottom-xl width-1-1 ng-star-inserted"
                id="Grievances"
              >
                <h3 class="flex flex-middle margin-remove">
                  <span class="mat-title">{{
                    'privacypolicy.grievances' | translate
                  }}</span>
                </h3>
                <div class="flex flex-column margin-bottom-xl">
                  <div class="privacy-policy-content">
                    <p class="mat-body-2 margin-remove"></p>

                    <ul>
                      <li>{{ 'privacypolicy.p19Ifyouhave' | translate }}</li>
                      <p>
                        <strong>{{
                          'privacypolicy.designation' | translate
                        }}</strong>
                        <br /><strong>{{
                          'privacypolicy.department' | translate
                        }}</strong>
                        <br /><strong>{{
                          'privacypolicy.p20email' | translate
                        }}</strong>
                      </p>
                      <li>{{ 'privacypolicy.p21TheGrievance' | translate }}</li>
                      <li>
                        {{ 'privacypolicy.p22Ifyoubelievethat' | translate }}
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
              <div
                class="info-section margin-bottom-xl width-1-1 ng-star-inserted"
                id="Contacting Us"
              >
                <h3 class="flex flex-middle margin-remove">
                  <span class="mat-title">{{
                    'privacypolicy.contactingus' | translate
                  }}</span>
                </h3>
                <div class="flex flex-column margin-bottom-xl">
                  <div class="privacy-policy-content">
                    <p class="mat-body-2 margin-remove">
                      {{ 'privacypolicy.p23IfYouHaveAnyQuestions' | translate }}
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
